[gpg]
    format = ssh
[gpg "ssh"]
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
    gpgsign = true

[user]
    useConfigOnly = true

# Include personal config by default
[include]
    path = ~/.gitconfig-personal

# Override with work config for the work directory
[includeIf "gitdir:~/code/work/"]
    path = ~/.gitconfig-work


# .gitconfig-example for personal and work
# [user]
#     name = YOUR_NAME
#     email = YOUR_EMAIL
#     signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPJNtjDHC8lYJvRqJtXX2pWczqa40xZLi9yBR+1CFgLr
[core]
	editor = code --wait
[fetch]
	prune = true
