[gpg]
    format = ssh
[gpg "ssh"]
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
    gpgsign = true

[user]
    useConfigOnly = true

# Directory-based switching (portable, no hostnames leaked)
[includeIf "gitdir:~/code/work/"]
    path = ~/.gitconfig-work

[includeElse]
    path = ~/.gitconfig-personal


# .gitconfig-example
# [user]
#     name = YOUR_NAME
#     email = YOUR_EMAIL
#     signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPJNtjDHC8lYJvRqJtXX2pWczqa40xZLi9yBR+1CFgLr
